.vscode/**
.vscode-test/**
out/test/**
src/**
media/js/diff_match_patch.js
media/js/diff_match_patch.min.js
media/js/difflib.js
media/js/difflib.min.js
media/js/diffview.js
media/js/diffview.min.js
media/js/smoothscroll.js
media/js/smoothscroll.min.js
media/js/TatuDiff.js
media/js/TatuDiff.min.js
media/scss/**
images/context-menu.jpg
images/icon.xcf
images/preview.jpg
.vscode-test/**
.gitignore
jsplurge.json
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
